{{#if modal}}
    <div class="modal h100 w100">
{{/if}}
    <div class="gopher anim-coming {{customClasses}}" id="{{id}}">
        <img src="/assets/img/gopher.svg" alt="" class="gopher__img">
        <canvas class="gopher__eyes" width="80" height="70"></canvas>
    </div>
{{#if modal}}
    </div>>
{{/if}}
