@import '../../../assets/scss/global';

$font-size-min: 14;
$font-size-max: 28;

.question {
    text-align: center;
    line-height: 1.4;
    font-size: px($font-size-min);
    margin-bottom: 1em;
}

@include media-min-width() {
    .question {
        font-size: calcY($font-size-min, $font-size-max);
    }
}

@include media-max-width() {
    .question {
        font-size: px($font-size-max);
    }
}

