.container__row {
  @each $key, $size in $grid-rows {
    &-#{$key} {
      width: 100%;
      @include box-sizing(border-box);
      display: flex;
      @include flex-direction(row);
      height: $size;
    }
  }
}
