@import "../gameBoard/vars.scss";
@import "../../../assets/scss/global.scss";

.game-board__cell {
  width: $cell-size;
  height: $cell-size;
  min-width: $cell-size;
  min-height: $cell-size;
  box-sizing: border-box;
  @extend %border-light;
}
