@import "../../vars";
@import "../../../../../assets/scss/global";

.game-field__cell_prize {
  width: $cell-size;
  height: $cell-size;
  min-width: $cell-size;
  min-height: $cell-size;
  background: color("secondary");
  border: none;
}
