@import "../global.scss";

.title {
  display: flex;
  color: inherit;
  @include align-items(center);
  text-transform: uppercase;
  font-size: $title-text-size;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  margin: $title-padding;
}
