@import '../global';

.title {
  display: flex;
  color: inherit;
  text-transform: uppercase;
  font-size: px($title-text-size-min);
  font-weight: bold;
  text-decoration: none;
  outline: none;
  margin: $title-padding;
}

@include media-min-width() {
  .title {
    font-size: calcY($title-text-size-min, $title-text-size-max);
  }
}

@include media-max-width() {
  .title {
    font-size: px($title-text-size-max);
  }
}
