<div class="container">
    {{{header}}}
    <div class="card">
        <div class="card__header">
            <h1 class="card__title">Авторизация</h1>
        </div>
        <div class="card__body">
            <form>
                <div class="form__group">
                    <input type="text" class="form__control" placeholder="Почта или никнейм" name="login">
                </div>
                <div class="form__group">
                    <input type="password" class="form__control" placeholder="Пароль" name="password">
                </div>
                <div class="form__group">
                    <button type="submit" class="btn btn_primary">Войти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card card_centered_both">
        <div class="card__body">
            У вас нет аккаунта? <a href="/signup" data-href="signup">Зарегистрироваться</a>
        </div>
    </div>
</div>
