.panel__header {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
