.game-board__cell {
  border: 7px solid #004ecc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.game-board__cell {
  border-width: 2px;
}

.game-board__cell {
  width: 12%;
  height: 12%;
  min-width: 12%;
  min-height: 12%;
  box-sizing: border-box;
}
