<div class="container">
    {{{header}}}
    <div class="card card_empty shadow-l">
        <div class="card__body">
            <h3>Никнейм</h3>
            <div class="list">
                <span class="list__item">Победы</span>
                <span class="list__item">Поражения</span>
                <span class="list__item">Время в игре</span>
            </div>
        </div>
    </div>
</div>
