.main-menu__btn {
    display: block;
    padding: 20px 40px 20px 40px;
    border: .0625rem solid #E0E0E0;
    border-radius: .25rem;
    background: #005ff9;
    color: white;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-size: large;
}

.main-menu__btn:hover {
    color: #005ff9;
    background-color: #ffffff;
    border: .0625rem solid #E0E0E0;
    box-shadow: 0 0 20px rgba(156,156,156, 0.7);
}
