.packs-section__icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color: white;
  border-radius: 40px;
  opacity: 1;
  transition: opacity 1s;
}
