@import "../../../assets/scss/global";

.back-to-menu-btn {
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border: none;
  cursor: pointer;
}
