<div class="container-row">
    <nav class="card sidebar shadow-l">
        <div class="card__header">
            <h1 class="card__title">Скрины</h1>
        </div>
        <div class="card__body">
            <div class="plug">Скрин 1</div>
            <div class="plug">Скрин 2</div>
            <div class="plug">Скрин 3</div>
            <div class="plug">Скрин 4</div>
        </div>
    </nav>
    <div class="container__content">
        {{{header}}}
        <div class="card desc-block shadow-l">
            <div class="desc-text">
                <p>
                    Классический «Lorem ipsum dolor sit amet…» проход отнести к ремиксов римского философа Цицерона 45 г. до н.э. текст De Finibus Bonorum et Malorum («О крайностями добра и зла»). Более конкретно, проход, как полагают, происходит из секций 1.10.32 - 33 из его текста, с наиболее заметным часть извлечена ниже:
                    “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”
                </p>
            </div>
            <div class="list-block">
                <h3>Авторы:</h3>
                <ul class="list-pages">
                    <li>Максим Уймин</li>
                    <li>Максим Пирмамедов</li>
                    <li>Алексей Ларютин</li>
                    <li>Джахонгир Тулфоров</li>
                </ul>
            </div>
        </div>
    </div>
</div>
