@import '../../../../assets/scss/global';

$padding1-min: 10;
$padding2-min: 15;
$padding1-max: 20;
$padding2-max: 30;

.modal__content {
  position: relative;
  min-height: $modal-min-size;
  min-width: $modal-min-size;
  padding: px($padding1-min) px($padding2-min);
  color: var(--secondary-color1);
  z-index: 4;
}

@include media-min-width() {
  .modal__content {
    padding: calcY($padding1-min, $padding1-max) calcY($padding2-min, $padding2-max);
  }
}

@include media-max-width() {
  .modal__content {
    padding: px($padding1-max) px($padding2-max);
  }
}
