<div class="container {{customClasses}}">
    {{#if sideBar}}
        <div class="container__content-sidebar">
            {{{content}}}
        </div>
    {{else}}
        {{{content}}}
    {{/if}}
</div>
