.container {
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.container-row {
    display: flex;
    padding: 20px 10px;
}