<div class="container {{customClasses}}">
    {{#if sideBar}}
        <div class="container__content-sidebar">
    {{else}}
        <div class="container__content">
    {{/if}}
        {{{content}}}
    </div>
</div>
