@import "../global.scss";
@import "../icons.scss";

.back-to-menu-btn {
  position: absolute;
  top: $page-padding;
  left: $page-padding;
  border: none;
  background: color("background");
  cursor: pointer;
}