<nav class="sidebar {{customClasses}}">
    <div class="sidebar__header">
        <h1 class="sidebar__title">{{title}}</h1>
    </div>
    <div class="sidebar__body">
        {{{body}}}
    </div>
</nav>
