.plug {
    border: .0625rem solid #E0E0E0;
    border-radius: .25em;
    background-color: #005ff9;
    color: white;
    font-size: x-large;
    margin-bottom: 10px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
