<div class="container">
    {{{header}}}
    <div class="card">
        <div class="card__header">
            <h1 class="card__title">Регистрация</h1>
        </div>
        <div class="card__body">
            <form>
                <div class="form__group">
                    <input type="text" class="form__control" placeholder="Почта" name="email">
                </div>
                <div class="form__group">
                    <input type="text" class="form__control" placeholder="Никнейм" name="nickname">
                </div>
                <div class="form__group">
                    <input type="password" class="form__control" placeholder="Пароль" name="password">
                </div>
                <div class="form__group">
                    <input type="password" class="form__control" placeholder="Повторите пароль" name="password">
                </div>
                <div class="form__group">
                    <button type="submit" class="btn btn_primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card card_centered_both">
        <div class="card__body">
            Аккаунт уже есть? <a href="/login" data-href="login">Войти</a>
        </div>
    </div>
</div>
