<div class="oval justify-content-center align-items-center {{#if speech}}oval__speech{{else}}oval__thought{{/if}} {{customClasses}}" id="{{id}}">
    <p class="oval__text {{#if speech}}oval__speech__text{{/if}}"></p>
</div>
