.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.panel_full-page {
    height: 93vh;
    width: 60%;
}

.panel_minimized {
    min-height: 400px;
    height: 40vh;
    width: 27%;
    min-width: 350px;
    position: fixed;
    z-index: 10;
}

.panel-shorted {
    min-height: 0;
    height: 53px;
}

.panel-shorted .panel__body {
    display: none;
}

.panel-shorted .panel__footer {
    display: none;
}

.panel_minimized .msg-container__messages {
    min-height: 50px;
}

.panel_minimized .panel__header {
    justify-content: space-between;
}

.panel_minimized .panel__header > div:first-child {
    display: flex;
    align-items: center;
}

.panel_minimized-right{
    right: 20px;
    bottom: 0;
}

.panel_minimized-left {
    left: 10px;
    bottom: 0;
}

.panel__header {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel__body {
    padding: 15px;
}

.panel__footer {
    display: flex;
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel_primary {
    border-color: #428bca;
}

.panel_primary .panel__header {
    background-color: #428bca;
    border-color: #428bca;
    color: white;
}
