@import '../../../assets/scss/global';

$font-size-min: 20;
$font-size-max: 60;

.timer {
    color: var(--success-color);
    font-size: px($font-size-min);
}

.timer_red {
    color: var(--danger-color);
}

@include media-min-width() {
    .timer {
        font-size: calcY($font-size-min, $font-size-max);
    }
}

@include media-max-width() {
    .timer {
        font-size: px($font-size-max);
    }
}
