.msg-container {
    opacity: 0;
    transition: opacity 500ms;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.msg-container > div:first-child {
    width: 85%;
}

.msg-container > div:last-child {
    position: relative;
    width: 14%;
}
