.msg-container {
    opacity: 0;
    transition: opacity 500ms;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.msg-container > div:first-child {
    width: 85%;
}

.msg-container > div:last-child {
    position: relative;
    width: 14%;
}

.msg-container_sent {
    align-items: flex-end;
}

.msg-container__messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    min-height: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.msg-container__messages p {
    margin-block-start: 6px;
    margin-block-end: 6px;
}

.msg-container_sent {
    padding-bottom: 20px !important;
    margin-right: 0;
}

.msg-container_sent > .msg__avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
}

.msg-container_receive > .msg__avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.msg-container_sent time {
    display: flex;
    justify-content: flex-end;
}

.msg-container_receive {
    flex-direction: row-reverse;
}

.msg-container__messages > time {
    font-size: 11px;
    color: #ccc;
}

.msg-container-base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: -webkit-fill-available;
    overflow-x: hidden;
}

.msg__avatar img {
    width: 90%;
    border-radius: 50px;
    overflow: hidden;
}
