<header class="header">
    <h1 class="header__title">
        {{title}}
    </h1>
    <h3 class="header__subtitle">
        {{{subtitle}}}
    </h3>
    {{#if btnHome}}
        {{{btnHomeTemplate}}}
    {{/if}}
</header>
