@import "../../../../assets/scss/global.scss";

.avatar__upload-icon{
  width: 100%;
  box-sizing: border-box;
  @include border-radius($avatar-size/2);
  border: 0.1px solid var(--success-color);
  transition: all 750ms ease-in-out;
}
