@import "../../../../assets/scss/global.scss";

.btn_big {
    min-width: 200px !important;
    height: 50px !important;
    font-size: 21px;
}

.btn_modal {
    position: absolute;
    left: -18%;
    top: 50%;
}

.btn_modal2 {
    position: absolute;
    left: 11%;
    top: 50%;
}
