@import '../../global';

.title_subtitle {
  font-weight: normal;
}

.title_subtitle2 {
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
}

.title_subtitle:hover {
  border-bottom: 2px solid var(--secondary-color1);
}

.title_subtitle {
  font-size: $subtitle-text-size-min;
}

@media (min-width: $minimum-width) {
  .title_subtitle {
    font-size: calc( 0.9vw + 10px);
  }
}

@media (min-width: $maximum-width) {
  .title_subtitle {
    font-size: $subtitle-text-size-max;
  }
}
