@import "../../gameBoard/vars.scss";

.game-board__cell_failed_2 {
    background: $cell-failed-color2;
    border-color: $cell-failed-color2 !important;
}

.game-board__cell_failed_1 {
    background: $cell-failed-color2;
    border-color: $cell-failed-color2 !important;
}
