<div class="container container_align-y_center">
    {{{header}}}
    <div class="menu menu_horizontal">
        <div class="menu__btn menu__btn_huge">
            <h1>Single player</h1>
        </div>
        <div class="menu__btn menu__btn_huge">
            <h1>Multi player</h1>
        </div>
    </div>
</div>
