:root {
  --primary-color: #f8f1b5;
  --primary-color2: #426e86;
  --secondary-color: #011A27;
  --success-color: #058e3f;
  --danger-color: #931621;
  --accent-color: #e6af2e;
}

$whitespace-base-size: 10px;

$skew-angle: 4deg;
$skew-shift: 110px;
$title-text-size: 50px;
$subtitle-text-size: 30px;
$title-padding: $whitespace-base-size;
$page-padding: $whitespace-base-size;
$list-margin: .8 * $whitespace-base-size;
$avatar-size: 140px;
$modal-min-size: 200px;
$form-control-size: 40px;
$button-height: 32px;
$button-font-weight: 600;

$media-breakpoints: (
        s:  576px,
        m:  768px,
        l:  992px,
        xl: 1200px
);

$colors: (
        "primary": #005ff9,
        "primary-dark": #004ecc,
        "secondary": #0c5460,
        "secondary-light": #44a9ae,
        "background": #ffffff,
        "success": green,
        "error": red
);

@function color($color-key) {
  @return map-get($colors, $color-key)
}

$grid-columns: (
        w25:  25%,
        w50:  50%,
        w75:  75%,
        w100: 100%
);

$grid-rows: (
        h10:  10%,
        h25:  25%,
        h50:  50%,
        h75:  75%,
        h100: 100%
);

@mixin box-shadow($args) {
  -moz-box-shadow: $args;
  -o-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args) {
  -moz-transition: $args;
  -o-transition: $args;
  -webkit-transition: $args;
  transition: $args;
}

@mixin font-feature-settings($args) {
  -moz-font-feature-settings: $args;
  -o-font-feature-settings: $args;
  -webkit-font-feature-settings: $args;
}

@mixin box-sizing($args) {
  -moz-box-sizing: $args;
  -webkit-box-sizing: $args;
  box-sizing: $args;
}

@mixin flex-direction($args) {
  -ms-flex-direction: $args;
  -webkit-flex-direction: $args;
  flex-direction: $args;
}

@mixin flex-wrap($args) {
  -ms-flex-wrap: $args;
  -webkit-flex-wrap: $args;
  flex-wrap: $args;
}

@mixin align-items($args) {
  -webkit-align-items: $args;
  align-items: $args;
}

@mixin align-self($args) {
  -webkit-align-self: $args;
  align-self: $args;
}

@mixin justify-content($args) {
  -webkit-justify-content: $args;
  justify-content: $args;
}

@mixin transform($args) {
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  -webkit-transform: $args;
  transform: $args;
}

@mixin opacity($args) {
  -moz-opacity: $args;
  opacity: $args;
}

@mixin mask-linear-gradient($args) {
  mask: -moz-linear-gradient($args);
  mask: -ms-linear-gradient($args);
  mask: -o-linear-gradient($args);
  mask: -webkit-linear-gradient($args);
  mask: linear-gradient($args);
}

@mixin background-size($args) {
  -moz-background-size: $args;
  -o-background-size: $args;
  -webkit-background-size: $args;
  background-size: $args;
}

@mixin background-linear-gradient($args) {
  background: -moz-linear-gradient($args);
  background: -ms-linear-gradient($args);
  background: -o-linear-gradient($args);
  background: -webkit-linear-gradient($args);
  background: linear-gradient($args);
}

%border-default {
  border: none;
  @include border-radius(2px);
}

%border-light {
  @extend %border-default;
  border-width: 2px;
}

@mixin background-accent($color) {
  @keyframes background {
    to {
      background-size: 100% 100%;
    }
  }

  @include background-linear-gradient((90deg, var(--accent-color), var(--accent-color) 50%, #{$color} 51%));
  @include background-size(200% 100%);
  background-position: right top;
  animation: background 300ms ease-out forwards;
}

%long-shadow-accent {
  text-shadow: -2px 28px 0px var(--accent-color),
               -2px * 13 / 14 27px 0px var(--accent-color),
               -2px * 12 / 14 26px 0px var(--accent-color),
               -2px * 11 / 14 25px 0px var(--accent-color),
               -2px * 10 / 14 24px 0px var(--accent-color),
               -2px * 9 / 14 23px 0px var(--accent-color),
               -2px * 8 / 14 22px 0px var(--accent-color),
               -2px * 7 / 14 21px 0px var(--accent-color),
               -2px * 6 / 14 20px 0px var(--accent-color),
               -2px * 5 / 14 19px 0px var(--accent-color),
               -2px * 4 / 14 18px 0px var(--accent-color),
               -2px * 3 / 14 17px 0px var(--accent-color),
               -2px * 3 / 14 16px 0px var(--accent-color),
               -2px * 1 / 14 15px 0px var(--accent-color),
               -1px 14px 0px var(--accent-color),
               -1px * 13 / 14 13px 0px var(--accent-color),
               -1px * 12 / 14 12px 0px var(--accent-color),
               -1px * 11 / 14 11px 0px var(--accent-color),
               -1px * 10 / 14 10px 0px var(--accent-color),
               -1px * 9 / 14 9px 0px var(--accent-color),
               -1px * 8 / 14 8px 0px var(--accent-color),
               -1px * 7 / 14 7px 0px var(--accent-color),
               -1px * 6 / 14 6px 0px var(--accent-color),
               -1px * 5 / 14 5px 0px var(--accent-color),
               -1px * 4 / 14 4px 0px var(--accent-color),
               -1px * 3 / 14 3px 0px var(--accent-color),
               -1px * 3 / 14 2px 0px var(--accent-color),
               -1px * 1 / 14 1px 0px var(--accent-color);
}