@import 'icons.scss';
@import 'overflow/overflow.scss';
@import 'justify-content/justify-content.scss';
@import 'align-items/align-items.scss';
@import 'width/width.scss';
@import 'width/animation.scss';
@import 'height/height.scss';
@import 'title/title.scss';
@import 'title/_subtitle/title_subtitle.scss';
@import 'adaptive-utils.scss';
@import 'shadow.scss';
@import 'animations';

html, body {
        font-size: 13px;
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        font-family: Roboto, sans-serif;
        background-color: var(--primary-color2);
}

h1, h3, h5, h6, p {
        padding: 4px 0;
        margin: 0;
}

svg {
        fill: #ffffff;
}

.pr-10px {
  padding-right: 10px;
}

.pl-10px {
  padding-left: 10px;
}

.md-20px {
  margin-bottom: 20px;
}

.profile {
  padding: 50px 30px 10px;
  flex-wrap: wrap;
}

.copyright {
  margin: 10px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  @include border-radius(3px)
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

@media only screen and (orientation:portrait){
  #turn { display: flex; }
  #app { display: none; }
}

@media only screen and (orientation:landscape){
  #turn { display: none; }
  #app { display: block; }
}

#turn {
  background-color: var(--secondary-color2);
}

@include media-min-width() {
  body {
    font-size: calcY(13, 16);
  }
}

@include media-max-width() {
  body {
    font-size: 16px;
  }
}
