@import "../../app/components/avatar/avatar.scss";
@import "../../app/components/avatar/_profile/avatar_profile.scss";
@import "../../app/components/avatar/__choose-photo/avatar__choose-photo.scss";
@import "../../app/components/avatar/__upload-icon/avatar__upload-icon.scss";

@import "../../app/components/button/btn.scss";
@import "../../app/components/button/_primary/btn_primary.scss";
@import "../../app/components/button/_primary2/btn_primary2.scss";

@import "../../app/components/card/card.css";
@import "../../app/components/card/__body/card__body.css";
@import "../../app/components/card/__header/card__header.css";
@import "../../app/components/card/__title/card__title.css";
@import "../../app/components/card/_centered/card_centered_both.css";
@import "../../app/components/card/_empty/card_empty.css";

@import "../../app/components/customFileInput/custom-file";
@import "../../app/components/customFileInput/__input/custom-file__input";
@import "../../app/components/customFileInput/__label/custom-file__label";

@import "../../app/components/form/__group/form__group.scss";
@import "../../app/components/form/__group/_center/form__group_center.scss";
@import "../../app/components/form/control/form__control.scss";

@import "../../app/components/header/header.scss";
@import "../../app/components/link/link.scss";
@import "../../app/components/link/_primary/link_primary.scss";
@import "../../app/components/list/list.scss";
@import "../../app/components/list/__item/list__item.scss";
@import "../../app/components/list/__item-row/list__item-row.scss";

@import "../../app/components/loader/loader.scss";

@import "../../app/components/pagination/pagination.scss";
@import "../../app/components/pagination/__item/pagination__item.scss";
@import "../../app/components/pack/__item/packs-section__item.scss";
@import "../../app/components/pack/__icon/packs-section__icon.scss";
@import "../../app/components/pack/__text/packs-section__text.scss";
@import "../../app/components/pack/pack.scss";

@import "../../app/components/scoreboard/table.scss";
@import "../../app/components/scoreboard/_primary/table_primary.scss";
@import "../../app/components/scoreboard/_primary2/table_primary2.scss";
@import "../../app/components/scoreboard/__number/table__number.scss";
@import "../../app/components/scoreboard/__avatar-block/table__avatar-block.scss";

@import "../../app/components/timer/timer.css";
@import "../../app/components/modal/modal.scss";
@import "../../app/components/answer/answer.css";
@import "../../app/components/question/question.css";

@import "icons";
@import "../../app/components/container/container";
@import "width/width";
@import "width/animation";
@import "../../app/components/container/__inline-flex/container__inline-flex.scss";
@import "height/height";
@import "../../app/components/container/__square/container__square.scss";
@import "../../app/components/container/_column/container_column";
@import "../../app/components/container/__absolute/container__absolute.scss";
@import "../../app/components/container/__absolute/_skewed/container__absolute_skewed.scss";
@import "../../app/components/container/_skewed/container_skewed.scss";
@import "../../app/components/container/_cursor/container_cursor";
@import "../../app/components/container/_theme/container_theme-primary1.scss";
@import "../../app/components/container/_theme/container_theme-primary2.scss";
@import "../../app/components/container/_theme/container_theme_secondary1.scss";
@import "../../app/components/container/_theme/container_theme_secondary2.scss";
@import "overflow/overflow";
@import "justify-content/justify-content";
@import "align-items/align-items";

@import "title/title.scss";
@import "title/_subtitle/title_subtitle.scss";
@import "../../app/components/icon/centered-icon/centered-icon.scss";

@import "../../app/components/gameBoard/game-board.scss";
@import "../../app/components/gameBoard/cell/game-board__cell.scss";
@import "../../app/components/gameBoard/cell/_min-size/game-board__cell_min-size.scss";
@import "../../app/components/gameBoard/cell/_prize/game-board__cell_prize.scss";
@import "../../app/components/gameBoard/cell/_active/game-board__cell_active.scss";
@import "../../app/components/gameBoard/cell/_failed/game-board__cell_failed.scss";
@import "../../app/components/gameBoard/cell/_answered/game-board__cell_answered.scss";
@import "../../app/components/buttonHome/button-home.scss";

@import "adaptive-utils.scss";
@import "shadow.scss";

html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        font-family: Roboto, sans-serif;
        background-color: var(--primary-color2);
}

h1, h3, p {
        padding: 4px 0;
        margin: 0;
}

::-webkit-scrollbar {
        width: 6px;
}

::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.3);
        @include border-radius(3px)
}

::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
}
