.shadow-l {
  -moz-box-shadow: 0 0 20px rgba(156, 156, 156, 0.7);
  -o-box-shadow: 0 0 20px rgba(156, 156, 156, 0.7);
  -webkit-box-shadow: 0 0 20px rgba(156, 156, 156, 0.7);
  box-shadow: 0 0 20px rgba(156, 156, 156, 0.7);
}

.shadow-xl {
  -moz-box-shadow: 0 0 30px rgba(156, 156, 156, 0.7);
  -o-box-shadow: 0 0 30px rgba(156, 156, 156, 0.7);
  -webkit-box-shadow: 0 0 30px rgba(156, 156, 156, 0.7);
  box-shadow: 0 0 30px rgba(156, 156, 156, 0.7);
}

.game-board__cell_active {
  -moz-box-shadow: 0 0 10px #0c5460;
  -o-box-shadow: 0 0 10px #0c5460;
  -webkit-box-shadow: 0 0 10px #0c5460;
  box-shadow: 0 0 10px #0c5460;
  cursor: pointer;
}
