@import '../../../../assets/scss/_global';

.form_w50 { width: 85%; }
.form_w60 { width: 90%; }

@include media-min-width() {
    .form_w50 { width: calcY(274, 426); }
    .form_w60 { width: calcY(418, 657); }
}

@include media-max-width() {
    .form_w50 { width: 50%; }
    .form_w60 { width: 60%; }
}
