<div class="card {{customClasses}}">
    {{#if title}}
        <div class="card__header">
            <h1 class="card__title">{{title}}</h1>
        </div>
    {{/if}}
    <div class="card__body" id="{{id}}">{{{body}}}</div>
</div>
