<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container-new container_inverted">
            <div class="container_inverted__back container_inverted__back_right">
                <a href="index.html">
                    <i class="material-icons md-inherit md-48">arrow_forward_ios</i>
                </a>
            </div>
            <div class="container_inverted__content container_inverted__content_left" style="justify-content: normal;">
                <h1 class="container_inverted__layout__label">
                    <i class="material-icons md-inherit md-48">info</i>About
                </h1>
                <div class="width-90">
                    <p>Quiz planet – это классическая игра-викторина элементами стратегии. Вам предстоит сразиться в умственном поединке с лучшими из лучших. Более 5000 текстовых и визуальных вопросов из различных областей.</p>
                    <ul>
                        <li>Боритесь за право быть на вершине рейтинга!</li>
                        <li>Состязайтесь с друзьями из социальных сетей!</li>
                        <li>Присылайте свои вопросы!</li>
                        <li>Добавьте себе индивидуальности редактируя своего профилья</li>
                        <li>Новые вопросы появляются каждую минуту!</li>
                    </ul>
                    <p>Окажитесь на вершине триумфа играя с друзьями и прокладывая свой путь к победе!</p>
                    <h1 class="our-team">Наша команда:</h1>
                    <div>
                        <div class="developer developer_single">
                            <div class="developer__avatar-block">
                                <img class="developer__avatar-block" src="../assets/img/mentor.jpg" alt="avt">
                            </div>
                            <div class="developer__info">
                                <div class="developer__name">Ксения Казанцева</div>
                                <div class="developer__position">Dear Mentor</div>
                            </div>
                        </div>
                        <div class="developer">
                            <div class="developer__avatar-block">
                                <img class="developer__avatar-block" src="../assets/img/default-avatar.png" alt="avt">
                            </div>
                            <div class="developer__info">
                                <div class="developer__name">Алексей Ларютин</div>
                                <div class="developer__position">Backend</div>
                            </div>
                        </div>
                        <div class="developer">
                            <div class="developer__avatar-block">
                                <img class="developer__avatar-block" src="../assets/img/default-avatar.png" alt="avt">
                            </div>
                            <div class="developer__info">
                                <div class="developer__name">Максим Пирмамедов</div>
                                <div class="developer__position">Backend</div>
                            </div>
                        </div>
                        <div class="developer">
                            <div class="developer__avatar-block">
                                <img class="developer__avatar-block" src="../assets/img/default-avatar.png" alt="avt">
                            </div>
                            <div class="developer__info">
                                <div class="developer__name">Максим Уймин</div>
                                <div class="developer__position">Full-Stack</div>
                            </div>
                        </div>
                        <div class="developer">
                            <div class="developer__avatar-block">
                                <img class="developer__avatar-block" src="../assets/img/jahongir.jpg" alt="avt">
                            </div>
                            <div class="developer__info">
                                <div class="developer__name">Джахонгир Тулфоров</div>
                                <div class="developer__position">Frontend</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <i class="material-icons md-inherit">copyright</i> All rights reserved 2019
                </div>
            </div>
        </div>
    </div>
</body>
</html>
