<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Leader Board</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container-new container_inverted">
            <div class="container_inverted__content container_inverted__content_left">
                <h1 class="container_inverted__layout__label">
                    <i class="material-icons md-inherit md-48">poll</i>Leader Board
                </h1>
                <div class="scoreboard">
                    <table class="table_new">
                        <tr>
                            <th class="table__number">№</th>
                            <th>Игрок</th>
                            <th>Счет</th>
                            <th>Победы</th>
                            <th>Поражения</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>
                                <div class="scoreboard__username">
                                    <div class="table_new__avatar-block">
                                        <img class="table_new__avatar" src="../assets/img/default-avatar.png" alt="avt">
                                    </div>
                                    Супер Игрок
                                </div>
                            </td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                        </tr>
                    </table>
                </div>
                <div class="pagination">
                    <div class="pagination__item_new">
                        <i class="material-icons md-inherit">first_page</i>
                    </div>
                    <div class="pagination__item_new">2</div>
                    <div class="pagination__item_new">3</div>
                    <div class="pagination__item_new">4</div>
                    <div class="pagination__item_new">
                        <i class="material-icons md-inherit">last_page</i>
                    </div>
                </div>
            </div>
            <div class="container_inverted__back container_inverted__back_right">
                <a href="index.html">
                    <i class="material-icons md-inherit md-48">arrow_forward_ios</i>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
