<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container-new container_inverted">
            <div class="container_inverted__back container_inverted__back_left">
                <a href="index.html">
                    <i class="material-icons md-inherit md-48">arrow_back_ios</i>
                </a>
            </div>
            <div class="container_inverted__content container_inverted__content_right">
                <div class="container_inverted__content__main">
<!--                    <h1 class="container_inverted__layout__label">-->
<!--                        <i class="material-icons md-inherit md-48">exit_to_app</i>Log In-->
<!--                    </h1>-->
                    <div class="card shadow-l">
                        <div class="card__header">
                            <h1 class="card__title">Авторизация</h1>
                        </div>
                        <div class="card__body" id="card_fazjwtwjy">
                            <form id="form_x9undr5ym" class="" method="post" action="">
                                <div class="form__group ">
                                    <input type="email" id="formCtrl_xdh1xzlpv" class="form__control " placeholder="Почта" name="email" value="">
                                    <span class="fd_invalid"></span>

                                </div>
                                <div class="form__group ">
                                    <input type="password" id="formCtrl_fv16s7d23" class="form__control " placeholder="Пароль" name="password" value="">
                                    <span class="fd_invalid"></span>

                                </div>
                                <div class="form__group form__group_center">
                                    <input type="submit" id="formCtrl_jhtavnvto" class="form__control btn btn_primary" placeholder="" name="" value="Войти">
                                    <span class="fd_invalid"></span>

                                </div>
                                <div class="fd_invalid"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="container_inverted__content__secondary">
                    <p>Нет аккаунта?</p>
                    <a href="signup.html">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
