<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packs</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container-new container_inverted">
            <div class="packs-section_new">
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    Информатика
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    История
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    Химия
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    Физика
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    Математика
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    Английский язык
                </div>
            </div>
        </div>
    </div>
</body>
</html>
