<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Packs</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="app">
        <div class="container-new container_inverted">
            <div class="packs-section_new">
                <div class="packs-section_new__icon">
                    <i class="material-icons md-inherit md-48">dashboard</i>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        Информатика
                    </div>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        История
                    </div>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        Химия
                    </div>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        Физика
                    </div>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        Математика
                    </div>
                </div>
                <div class="packs-section_new__item">
                    <div class="game-board__cell game-board__cell_pack d_inline-block">
                    </div>
                    <div class="packs-section_new__item__text">
                        Английский язык
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
