<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="app">
    <div class="container-new container_inverted">
        <div class="container_inverted__back container_inverted__back_left">
            <a href="index.html">
                <i class="material-icons md-inherit md-48">arrow_back_ios</i>
            </a>
        </div>
        <div class="container_inverted__content container_inverted__content_right">
            <div class="container_inverted__content__main" style="width: 20%; flex-direction: column">
                <p>Уже есть аккаунт?</p>
                <a href="login.html">Войти</a>
            </div>
            <div class="container_inverted__content__secondary" style="width: 80%">
                <div class="card shadow-l">
                    <div class="card__header">
                        <h1 class="card__title">Регистрация</h1>
                    </div>
                    <div class="card__body" id="card_7llyvav02"><form id="form_tnqhejyl9" class="" method="post" action="">
                        <div class="form__group ">
                            <input type="email" id="formCtrl_nlalo7ca8" class="form__control " placeholder="Почта" name="email" value="">
                            <span class="fd_invalid"></span>

                        </div>
                        <div class="form__group ">
                            <input type="text" id="formCtrl_g28l8edhv" class="form__control " placeholder="Никнейм" name="nickname" value="">
                            <span class="fd_invalid"></span>

                        </div>
                        <div class="form__group ">
                            <input type="password" id="formCtrl_adb3zxbee" class="form__control " placeholder="Пароль" name="password" value="">
                            <span class="fd_invalid"></span>

                        </div>
                        <div class="form__group ">
                            <input type="password" id="formCtrl_khsxlnoo7" class="form__control " placeholder="Повторите пароль" name="password2" value="">
                            <span class="fd_invalid"></span>

                        </div>
                        <div class="form__group form__group_center">
                            <input type="submit" id="formCtrl_11ge4gsj8" class="form__control btn btn_primary2" placeholder="" name="" value="Зарегистрироваться">
                            <span class="fd_invalid"></span>

                        </div>
                        <div class="fd_invalid"></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
