@import "../../../../assets/scss/global";

.menu__btn {
    display: block;
    padding: 0 4 * $whitespace-base-size;
    border: .3rem solid var(--secondary-color);
    box-shadow: 0 0 0 .125rem #ffd544;
    border-radius: .3rem;
    background: #ffd544;
    color: #b55e28;
    text-align: center;
    text-decoration: none;
    font-size: 55px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.menu__btn:hover {
    box-shadow: 0 0 10px rgba(156,156,156, 0.7);
}
