@import '../vars';
@import '../../../../assets/scss/global';

$padding-min: 3;
$padding-max: 13;
$border-radius-min: 3;
$border-radius-max: 8;

.game-board__cell {
  width: $cell-size;
  height: $cell-size;
  min-width: $cell-size;
  min-height: $cell-size;
  box-sizing: border-box;
  transition: all ease-in-out 750ms;
  cursor: pointer;
  padding: px($padding-min);
  border-radius: px($border-radius-min);
}

.game-board__cell img {
  width: 100%;
}

@include media-min-width() {
  .game-board__cell {
    padding: calcY($padding-min, $padding-max);
    border-radius: calcY($border-radius-min, $border-radius-max);
  }
}

@include media-max-width() {
  .game-board__cell {
    padding: px($padding-max);
    border-radius: px($border-radius-max);
  }
}
