@import "../vars";
@import "../../../../assets/scss/global";

.game-board__cell {
  width: $cell-size;
  height: $cell-size;
  min-width: $cell-size;
  min-height: $cell-size;
  box-sizing: border-box;
  transition: all ease-in-out 750ms;
  cursor: pointer;
  @extend %border-light;
}
