<div class="packs-section container justify-content-center align-items-center container_cursor-pointer {{customClasses}}" id="{{id}}">
    <div class="packs-section__icon">
        <i class="material-icons md-48">widgets</i>
        Packs
    </div>
    {{#each packs}}
        <div class="packs-section__item">
            <div style="background-color: {{color}}" class="game-board__cell game-board__cell_min-size">
            </div>
            <div class="packs-section__item__text">
                {{name}}
            </div>
        </div>
    {{/each}}
</div>
