<div class="packs-section" id="{{id}}">
    <div class="packs-section__icon">
        <i class="material-icons md-inherit md-48">info</i>
        Packs
    </div>
    {{#each packs}}
        <div class="packs-section__item">
            <div style="background-color: {{color}}" class="game-board__cell game-board__cell_pack">
            </div>
            <div class="packs-section__item__text">
                {{name}}
            </div>
        </div>
    {{/each}}
</div>
