@import '../../../assets/scss/global';

.avatar {
  width: $avatar-size-min;
  height: $avatar-size-min;
  @include border-radius($avatar-size-max / 2 + 10);
  margin-bottom: $whitespace-base-size;
  background: inherit;
  display: flex;
  border: 0.1px solid var(--success-color);
  transition: all 750ms ease-in-out;
}

.container_skewed .avatar {
  @include transform(skewX($skew-angle));
}

$avatar-size-calc: calc(14.1vw + 35px);

@media (min-width: $minimum-width) {
  .avatar {
    width: $avatar-size-calc;
    height: $avatar-size-calc;
  }
}

@media (min-width: $maximum-width) {
  .avatar {
    width: $avatar-size-max;
    height: $avatar-size-max;
  }
}
