<div class="avatar justify-content-center align-items-center {{customClasses}}">
    <img src="{{ avatarPath }}" id="{{id}}" alt="avatar" class="avatar__upload-icon">
    {{#if isEditable}}
        <div class="avatar__choose-photo title_subtitle">
            {{{customImgInput}}}
        </div>
    {{/if}}
</div>

