@import '../../../assets/scss/global';

.avatar {
  width: px($avatar-size-min);
  height: px($avatar-size-min);
  @include border-radius(px($avatar-size-max / 2 + 10));
  margin-bottom: $whitespace-base-size;
  background: inherit;
  display: flex;
  border: 0.1px solid var(--success-color);
  transition: all 750ms ease-in-out;
}

.container_skewed .avatar {
  @include transform(skewX($skew-angle));
}

$avatar-size-calc: calcY($avatar-size-min, $avatar-size-max);

@include media-min-width() {
  .avatar {
    width: $avatar-size-calc;
    height: $avatar-size-calc;
  }
}

@include media-max-width() {
  .avatar {
    width: $avatar-size-max;
    height: $avatar-size-max;
  }
}
