@import "../../vars";

.game-board__cell_answered_2 {
  background: $cell-answered-color2;
  border-color: $cell-answered-color2 !important;
}

.game-board__cell_answered_1 {
  background: $cell-answered-color1;
  border-color: $cell-answered-color1 !important;
}
