@import "../../../../assets/scss/global.scss";

.avatar__choose-photo {
    position: absolute;
    top: 75%;//блок кнопки выбора аватара занимает 15% самой аватарки
    right: 0;
    left: 0;
    text-align: center;
    font-size: $subtitle-text-size;
    color: var(--secondary-color);
    background: inherit;
    @include mask-linear-gradient((0deg, rgba(0,0,0,1), rgba(0,0,0,.3)))
}
