@import "../../global";

.container__col {
  @each $key, $size in $grid-columns {
    &-#{$key} {
      height: 100%;
      @include box-sizing(border-box);
      display: flex;
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(center);
      width: $size;
    }
  }
}