<header class="header">
    <h1 class="header__title">
        {{title}}
    </h1>
    <h3 class="header__subtitle">
        {{{subtitle}}}
    </h3>
    {{#if btnHome}}
        <a href="/" data-href="menu" class="btn-home">
            <img class="btn-home__icon" src="../../img/home.svg">
        </a>
    {{/if}}
</header>
