<div class="modal {{customClasses}}">
    <div class="modal__close">
        <i class="material-icons">close</i>
    </div>
    {{#if header}}
        <div class="modal__header">
            {{header}}
        </div>
    {{/if}}
    <div class="modal__body">
        {{body}}
    </div>
</div>
