@import "../../../assets/scss/global";

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    @include opacity(0);
    @include transition((opacity ease-in-out 100ms));
    @include align-items(center);
    @include justify-content(center);
}

.modal__content {
    position: relative;
    min-height: $modal-min-size;
    min-width: $modal-min-size;
    padding: 2 * $whitespace-base-size 3 * $whitespace-base-size;
    background-color: #fff;
}

.modal__close {
    position: absolute;
    top: $whitespace-base-size;
    right: $whitespace-base-size;
}

.modal_w-400 {
    width: 500px;
}
