@import "../../../assets/scss/global";

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    overflow: auto;
    @include align-items(center);
    @include justify-content(center);
}

.modal::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0,0,0,.6);
    @include keyframes(opacity) {
        from {
            @include opacity(0);
        }
        to {
            @include opacity(.6)
        }
    }
    @include animation((opacity 200ms ease-in-out forwards))
}
